# Import Libraries

In [3]:
#Manipulation Libraries 
import pandas as pd
import numpy as np

#Visualization Libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

- Note: Temparature change is with respect to a baseline climatology, corresponding to the period **1951-1980**

## Load & Explore Data

In [8]:
#import the data
temp = pd.read_csv("temperature_change_data_11-29-2021.csv")
temp.columns

Index(['Domain Code', 'Domain', 'Area Code (ISO3)', 'Area', 'Element Code',
       'Element', 'Months Code', 'Months', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [9]:
temp.describe()

       Element Code   Months Code     Year Code          Year         Value
count       67625.0  67625.000000  67625.000000  67625.000000  65331.000000
mean         7271.0   7018.000000   1991.306248   1991.306248      0.491524
std             0.0      1.414224     17.333343     17.333343      0.820116
min          7271.0   7016.000000   1961.000000   1961.000000     -5.979000
25%          7271.0   7017.000000   1976.000000   1976.000000     -0.011000
50%          7271.0   7018.000000   1992.000000   1992.000000      0.410000
75%          7271.0   7019.000000   2006.000000   2006.000000      0.932000
max          7271.0   7020.000000   2020.000000   2020.000000      8.206000

In [17]:
temp["Area"].value_counts()

Afghanistan              300
Norfolk Island           300
Namibia                  300
Nauru                    300
Nepal                    300
                        ...
Montenegro                75
Serbia                    75
Serbia and Montenegro     70
Sudan                     50
South Sudan               50
Name: Area, Length: 247, dtype: int64

In [18]:
temp["Area"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "CÃ´te d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guyana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Federated States of)',
       'Midway Island', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles (former)', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'North Macedonia', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'RÃ©union',
       'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wake Island', 'Wallis and Futuna Islands', 'Western Sahara',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [25]:
temp["Months"].unique()

array(['DecâJanâFeb', 'MarâAprâMay', 'JunâJulâAug', 'SepâOctâNov',
       'Meteorological year'], dtype=object)

## Prepare the Data

In [43]:
#Countries to keep
areas_to_keep = ["China", "Germany", "Japan", "United States of America"]

#Filter the data
evolution = temp[(temp["Flag Description"] != "Data not available") &
                 (temp["Months"] == "Meteorological year") &
                 (temp["Area"].isin(areas_to_keep))].reset_index(drop=True)
#Rename some areas
evolution["Area"] = evolution["Area"].replace(to_replace=["United States of America"], value=["USA"])

#Group by  Area by Year
evolution = evolution.groupby(["Area", "Year"])["Value"].mean().reset_index()

#look into the dataframe

evolution.head()

    Area  Year  Value
0  China  1961  0.266
1  China  1962 -0.134
2  China  1963  0.292
3  China  1964 -0.020
4  China  1965  0.081

In [44]:
pip install nbconvert[webpdf]

Requirement already satisfied: nbconvert[webpdf] in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (6.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (0.1.2)
Requirement already satisfied: pygments>=2.4.1 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (2.10.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (0.5.9)
Requirement already satisfied: entrypoints>=0.2.2 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (1.5.0)
Requirement already satisfied: defusedxml in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (0.7.1)
Requirement already satisfied: traitlets>=5.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (5.1.1)
Requirement already satisfied: testpath in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (0.5.0)
Requirement already satisfied: nbformat>=4.4 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (5.1.3)
Requirement already satisfied: bleach in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (4.1.0)
Requirement already satisfied: jinja2>=2.4 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (3.0.3)
Requirement already satisfied: jupyter-core in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbconvert[webpdf]) (4.9.1)
Collecting pyppeteer==0.2.6
  Downloading pyppeteer-0.2.6-py3-none-any.whl (83 kB)
     âââââââââââââââââââââââââââââââââââââââ 83.9/83.9 kB 243.9 kB/s eta 0:00:00[36m0:00:01[36m0:00:01
Collecting appdirs<2.0.0,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting importlib-metadata>=1.4
  Downloading importlib_metadata-6.1.0-py3-none-any.whl (21 kB)
Collecting websockets<10.0,>=9.1
  Downloading websockets-9.1-cp38-cp38-manylinux2010_x86_64.whl (102 kB)
     âââââââââââââââââââââââââââââââââââââ 102.3/102.3 kB 104.6 kB/s eta 0:00:00 kB/s eta 0:00:01
Collecting tqdm<5.0.0,>=4.42.1
  Downloading tqdm-4.65.0-py3-none-any.whl (77 kB)
     ââââââââââââââââââââââââââââââââââââââââ 77.1/77.1 kB 72.5 kB/s eta 0:00:00 kB/s eta 0:00:01
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: urllib3<2.0.0,>=1.25.8 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from pyppeteer==0.2.6->nbconvert[webpdf]) (1.26.7)
Requirement already satisfied: MarkupSafe>=2.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jinja2>=2.4->nbconvert[webpdf]) (2.0.1)
Requirement already satisfied: jupyter-client>=6.1.5 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert[webpdf]) (7.1.0)
Requirement already satisfied: nest-asyncio in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert[webpdf]) (1.5.4)
Requirement already satisfied: ipython-genutils in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbformat>=4.4->nbconvert[webpdf]) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from nbformat>=4.4->nbconvert[webpdf]) (4.2.1)
Requirement already satisfied: six>=1.9.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from bleach->nbconvert[webpdf]) (1.16.0)
Requirement already satisfied: webencodings in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from bleach->nbconvert[webpdf]) (0.5.1)
Requirement already satisfied: packaging in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from bleach->nbconvert[webpdf]) (21.3)
Requirement already satisfied: zipp>=0.5 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from importlib-metadata>=1.4->pyppeteer==0.2.6->nbconvert[webpdf]) (3.6.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert[webpdf]) (5.4.0)
Requirement already satisfied: attrs>=17.4.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert[webpdf]) (21.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.4->nbconvert[webpdf]) (0.18.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert[webpdf]) (2.8.2)
Requirement already satisfied: tornado>=4.1 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert[webpdf]) (6.1)
Requirement already satisfied: pyzmq>=13 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert[webpdf]) (22.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/samu/anaconda3/envs/challenge1/lib/python3.8/site-packages (from packaging->bleach->nbconvert[webpdf]) (3.0.6)
Installing collected packages: pyee, appdirs, websockets, tqdm, importlib-metadata, pyppeteer
Successfully installed appdirs-1.4.4 importlib-metadata-6.1.0 pyee-8.2.2 pyppeteer-0.2.6 tqdm-4.65.0 websockets-9.1
Note: you may need to restart the kernel to use updated packages.

In [45]:
jupyter nbconvert --to webpdf --allow-chromium-download your-notebook-file.ipynb

SyntaxError: invalid syntax (514470026.py, line 1)

In [46]:
jupyter nbconvert --to webpdf --allow-chromium-download Sam_Graph_1.ipynb

SyntaxError: invalid syntax (3068813662.py, line 1)